*
!.gitignore

!fish/
!fish/**
!niri/
!niri/**
!kitty/
!kitty/**
!nvim/
!nvim/**
!btop/
!btop/**

!obs-studio/
!obs-studio/basic/
!obs-studio/basic/profiles/
!obs-studio/basic/profiles/Untitled/
!obs-studio/basic/profiles/Untitled/basic.ini

**/cache/
**/*.log
**/*.gz
